<! DOCTYPE HTML>
<html>
<head>
<title>About Page</title>
</head>

<body>
<h1>This is a About page</h1>
<p>Click the bottom text to link to Home Page</p>
<%= link_to 'Home', root_path =%>
</body>
</html>