<! DOCTYPE HTML>
<html>
<head>
<title>Home Page</title>
</head>

<body>
<h1>This is a home page</h1>
<p>Click the bottom text to link to About Page</p>
<%= link_to 'About', about_path %>
</body>
</html>